$color-black: #000;
$color-white: #fff;
$color-link: #ff0000;
$color-btn: #fe142f;
$color-btn--hover: #3876ac;
$color-background-form: #232323;
$color-input-form: #ccc;
$color-form--error: #e54858;
$color-form-checkbox: #279e7a;
$color-background-checkbox: #c4c4c4;
$color-selected: #f00;

$font-default: 'DM Sans', Arial, Helvetica, sans-serif;
$font-slab: $font-default;

$modal-duration: 0.8s;
