.close-content {
  animation-name: modalclose;
  animation-duration: $modal-duration;
  animation-fill-mode: forwards;
}

@keyframes modalclose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-150px);
  }
}
