.content {
  animation-name: modalopen;
  animation-duration: $modal-duration;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

.close-content-sucessful {
  animation-name: modalclosesucessful;
  animation-duration: $modal-duration;
  animation-fill-mode: forwards;
}

@keyframes modalclosesucessful {
  to {
    opacity: 0;
    transform: translateY(-1500px);
  }
}
