.content-appear {
  animation-name: contentappear;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay: 0.5;
}

@keyframes contentappear {
  100% {
    opacity: 1;
    z-index: 20;
    // display: block;
  }
}
